@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
}

@layer utilities {
  @variants responsive {
    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }
    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

@font-face {
  font-family: 'Miller';
  src: url('../public/fonts/Miller/1fdf9a4d690c4e7271e535c39f40045f.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
